node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
webapp/test/mock/ollama.mjs
webapp/test/mock/reg.mjs
.vscode
webapp/test/mock/secret.json
webapp/test/mock/user.json
webapp/test/mock/kyma.http
default-env.json
hellocucumber/
.cursorignore
cursor/
